body {
    font-family: "HelveticaNeue", "Arial", sans-serif;

h1 
    font-size: 40px;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 14px;
}
.chartContainer {
    
    height: 200px;
    width: 50%;
    margin: auto;
}